<svg
  class="w-4 h-auto"
  role="img"
  aria-label="Flag of Spain"
  xmlns="http://www.w3.org/2000/svg"
  width="750"
  height="500"
  viewBox="0 0 750 500"
>
  <title>Flag of Spain</title>
  <rect width="750" height="500" fill="#c60b1e"></rect>
  <rect width="750" height="250" fill="#ffc400" y="125"></rect>
</svg>