@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility dots-pattern{
    background-image: 
        radial-gradient(circle at 1px 1px, rgba(139, 92, 246, 0.2) 1px, transparent 0),
        radial-gradient(circle at 1px 1px, rgba(59, 130, 246, 0.18) 1px, transparent 0),
        radial-gradient(circle at 1px 1px, rgba(236, 72, 153, 0.15) 1px, transparent 0)
      ;
}

@utility cicle-pattern{
    background-image: radial-gradient(circle at 1px 1px, rgba(0, 0, 0, 0.35) 1px, transparent 0);
}

@utility text_glowing {
    text-shadow: 1px 1px 15px #80FFD8;
}

@utility text-glowing-cyan {
    text-shadow: 1px 1px 10px oklch(60.9% 0.126 221.723);
}
@utility glowing-cyan-dark {
    text-shadow: 1px 1px 10px oklch(78.9% 0.154 211.53);
}

@view-transition{
    navigation: auto
}