---
import ThemeToogle from "@/components/ThemeToogle.astro";
import LanguajeSelector from "./LanguajeSelector.astro";
import HeaderLink from "./HeaderLink.astro";
import CloseIcon from "./icons/Close.astro";
import MenuIcon from "./icons/Menu.astro";

import { getI18N } from "@/i18n/index";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header
  id="header-nav"
  class="fixed top-0 left-1/2 -translate-x-1/2 w-full xl:w-3/4 px-6 py-4 z-20"
>
  <div class="max-w-7xl mx-auto flex items-center justify-end">
    <nav
      id="header-menu"
      class="fixed w-full h-dvh inset-0 bg-[#ABD5FF]/90 dark:bg-[#152636]/90 xl:rounded-full xl:text-xl lg:text-xl flex flex-col items-center justify-center gap-12 xl:gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 xl:static xl:h-[initial] xl:bg-[initial] xl:dark:bg-[initial] xl:flex-row xl:translate-y-[initial]"
    >
      <HeaderLink href={translatePath("/#habilidades")}>
        {t("nav.habilidades")}
      </HeaderLink>
      <HeaderLink href={translatePath("/#proyectos")}>
        {t("nav.proyectos")}
      </HeaderLink>
      <HeaderLink href={translatePath("/#certificados")}>
        {t("nav.certificados")}
      </HeaderLink>
      <HeaderLink href={translatePath("/#sobremi")}>
        {t("nav.sobremi")}
      </HeaderLink>
      <LanguajeSelector />
      <ThemeToogle />
      <a href="#header-nav" class="xl:hidden absolute top-6 right-6 text-black dark:text-white" aria-label="Close button" rel="noopener noreferrer">
        <CloseIcon />
      </a>
    </nav>
    <a href="#header-menu" class="xl:hidden text-black dark:text-white" aria-label="Burger menu button" rel="noopener noreferrer"><MenuIcon /></a>
  </div>
</header>

<style>
  @media (width >= 80rem) {
    nav {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
    }
  }

  @keyframes nav-shadown {
    0% {
      background-color: transparent;
    }
    100% {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
    }
  }
</style>
