---
const { title, subtitle, id } = Astro.props;
---

<section id={id} class="py-28 mx-8 md:mx-6">
  <h2 class="text-gray-700 dark:text-gray-500 font-semibold text-lg md:text-xl mb-2">
    {title}
  </h2>
  <h3 class="text-gray-950 dark:text-gray-300 font-bold text-4xl md:text-5xl mb-8">
    {subtitle}
  </h3>
  <slot />
</section>
